{% extends 'base.html' %}

{% block head %}
<title>Chores to do</title>

{% endblock %}

{% block body %} 
<div class="content">
    <h1 style="text-align: center">List of Chores</h1>
    {% if chores|length < 1 %}
    <h4 style="text-align: center">There are no chores. Insert one below!</h4>

    {% else %}
    <table>
        <tr>   
            <th>Chore</th>
            <th>Date Added</th>
            <th>Actions</th>
        </tr>
        {% for chore in chores %}
            <tr>
                <td>{{ chore.content }}</td>
                <td>{{ chore.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{chore.id}}">Detele</a>
                    <br>
                    <a href="/update/{{chore.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <div class="form">
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Add Chore">
        </form>
    </div>
</div>

{% endblock %}